<html>
  <head>
    <title>Reset Password</title>
  </head>

  <body>
    <h1>Reset Password</h1>
    <p>You can reset Your Password using OTP: {{otp}}</p>
    <p>Or you can click on the link below to reset your password</p>
    <a href='{{resetPasswordUrl}}'>Reset Password</a>
  </body>

</html>